@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color:black;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

#title{
    flex-direction: column;
    line-height: 10px;

}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color:rgb(219, 10, 10);

}
a:hover{
    color:#3518b3;
    transition: 0,3s all;
}
#Inscreva-se-btn{
    border: 2px solid #941919;
    padding: 10px;
    border-radius: 15px;
}
#Inscreva-se-btn:hover{
    background-color: #3518b3;
    color:white
}

h1{
    font-weight: 200;

}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color:#3518b3;
}
p{
    line-height: 20px;
    max-width: 500px;
}
img{
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #3518b3;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    
}



pre{

    text-align: center;
    color: rgb(17, 248, 117);

}